<div class="container mt-2">
  <ng-container
    *ngIf="customers | async as listCustomers; else failureOrLoading"
  >
    <div class="card" *ngIf="customers">
      <div class="card-header">Customers List</div>
      <div class="card-body">

        <!-- form -->
        <div *ngIf="searchFormGroup">
          <form
            action=""
            [formGroup]="searchFormGroup"
            (ngSubmit)="handleSearchCustomers()"
          >
            <div class="input-group">
              <label for="Keyword" class="input-group-text">Keyword</label>
              <input
                type="text"
                name="keyword"
                id="Keyword"
                class="form-control"
                placeholder=""
                aria-describedby="helpId"
                formControlName="keyword"
              />
              <button type="submit" class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- form -->

        <table class="table mt-3">
          <thead class="text-center">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let c of customers | async">
              <td>{{ c.id }}</td>
              <td>{{ c.name }}</td>
              <td>{{ c.email }}</td>
              <td>
                <button (click)="handleDeleteCustomer(c)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <span class="text-danger">{{ errorMessage }}</span>
    </ng-container>

    <ng-template #loading> Loading..... </ng-template>
  </ng-template>
</div>
